@media only screen and (max-width: 480px) {
    section {
        color: red;
    }
}
@media only screen and (min-width: 480px),(max-width: 800px) {
    section {
        color: green;
    }
}
@media only screen and (min-width: 800px) {
    section {
        color: blue;
    }
}
