main{
    background-color: aqua;
    width:1800px;
    height:100vh;
    margin: auto;
    text-align: center;
    padding: 1px;
}
h1{
    position: relative;
    top:30%;
}
.first{
    width:1600px;
    height:500px;
    outline: 10px solid black;
    position: relative;
    margin: auto;
}
section{
    width:1600px;
    height:500px;
    position: relative;
    margin: auto;
}
button{
    width:300px;
    height:100px;
    outline: 10px solid black;
    position: absolute;
    top:50%;
    left:40%;
}
button:hover{
    background-color: red;
    cursor: pointer;
}
button:active{
    background-color: green;
}
img{
    height: 500px;
    width:531px;
    outline: 10px solid black;
    display: inline-block;
    margin-top: 9px;
    margin-left: -1px;
}