body {
    text-align: center;
    min-height: 100vh;
}

.input-group {
    width: 50%;
    margin: auto;
    margin-top: 40px;
}

.form-floating {
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

#btn2 {
    position: fixed;
    margin-top: 20px;
    left: 25%;
    z-index: 1;
}

h2 {
    float: left;
    position: fixed;
    left: 9%;
}

#content {
    width: 34%;
}

#textField {
    justify-content: center;
}
