#imageBox{
    min-height:100vh;
    width:100%;
}
#ct{
    width:100%;
    height:300px;
    font-size: 100px;
    font-weight: bold;
    color: black;
    position:absolute;
    z-index: 1;
    left:30%;
    bottom:30%;
}
#forM{
    z-index: 1;
    position: absolute;
    bottom:30%;
    left:44%;
    margin: auto;
    text-align: center;
    width:170px;
}
.form{
    margin-bottom: 5px;
}
#message{
    font-size: 50px;
    color: rgb(15, 228, 68);
}
footer{
    width:100%;
    height:100px;
    outline: 1px solid black;
    background-color: rgb(143, 147, 155);
    text-align: center;
}
li{
    display: inline-block;
    float: right;
    margin-right: 10px;
    color: black;
    z-index: 1;
}
li:hover{
    cursor: pointer;
}